/* utils & components */

.mb-6 {
  margin-bottom: 3rem;
}

.btn {
  padding: 0.9rem 2.9rem;
  border: 0;
  border-radius: 0.5rem;
  border-right: 5px solid #666;
  border-bottom: 5.5px solid #777;
}
.btn:hover {
  cursor: pointer;
  padding: 1rem 3rem;
  border-right: 2px solid #888;
  border-bottom: 2.5px solid #999;
}
.btn-sm {
  padding: 0.5rem 1rem;
}
.btn-sm:hover {
  padding: 0.6rem 1.1rem;
  border-right: 3px solid #888;
  border-bottom: 3.5px solid #999;
}
.btn-disabled {
  opacity: 0.7;
  pointer-events: none;
}

.text-gray {
  color: #666;
}

.title {
  font-weight: bold;
  color: #d4ce41;
}

/* App.js */
.wrapper {
  background: #000;
  min-height: 100vh;
}

/* HomePage.js */
.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome-title {
  font-size: 70px;
  text-shadow: 3px 3px #fa8080, 5px 4px #888;
}

/* StepOne.js */
.inner-page-container {
  padding: 2rem 3rem;
}
.stage-title {
  font-size: 48px;
}
.searchbar {
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  border: none;
  border-radius: 0.5rem;
}
.search-result-btn {
  border: none;
  background: transparent;
}
.search-result-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.selected-img {
  border: 5px solid #fa8080;
}

/* StepTwo.js */
.edit-section-container {
  height: 600px;
}
.modal-background {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  background: #666;
  opacity: 0.5;
}
.modal-outer {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background: #f5f5f5;
  border-radius: 0.5rem;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #999;
  padding: 1.5rem 2rem;
}
.modal-body {
  padding: 2rem 2.5rem;
}
.modal-outer .btn {
  box-shadow: 0 -1px #888, -1px 0 #999;
  background: #fefefe;
}
.modal-outer .btn:hover {
  background: #fefefe;
}
.selected-btn,
.selected-btn:hover,
.unselected-btn:active {
  padding: 0.6rem 1.1rem;
  border: 1px solid #fbb4b4;
  border-right: 3px solid #fa8080;
  border-bottom: 3.5px solid #fea7a7;
  box-shadow: none !important;
}
.label {
  vertical-align: text-bottom;
}
.input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #999;
  box-shadow: 1px 1px #555, 0.5px 1px #000;
}
.input:focus-visible {
  outline: none;
}
/* workSpace */
.image-edit-section {
  position: relative;
  width: 600px;
  height: 600px;
  border: 3px solid #666;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
/* TxtShow */
.edit-txt-section {
  position: absolute;
  top: 0;
  left: 0;
  word-break: break-all;
  padding: 0.25rem;
  min-width: 100px;
  min-height: 40px;
}
.edit-txt-section:hover {
  border: 1px solid #000;
  background: #f5f5f5;
  opacity: 0.7;
}
.drag-txt-section:hover {
  cursor: move;
}
.resize-box {
  background: #fff;
  border: 1px solid #000;
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.resize-txt-section:hover,
.resize-box:hover {
  cursor: nwse-resize;
}

/* TxtList */
.txt-list {
  overflow-y: scroll;
  height: 450px;
  margin-bottom: 1rem;
}

/* TxtCard */
.card {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 2px 2px #999, 2px 0px #999;
  padding: 1rem 1.75rem;
  margin-bottom: 1.5rem;
}
.card-text {
  word-break: break-all;
  max-width: 75%;
}
